
.navbar {
    display: inline;
  }
  /* For example, apply Roboto font to the body and header elements */
body, header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  /* Using a class selector */
.red-text {
  color: red;
}
.title{
  color:rgb(30, 177, 19);
}
.paragraph{
  color: blue;
  width: 75%;
}

.image {
  width:75vw;
  object-fit: contain;
}




 